*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #1c1c1c;
    color: #D1D5DB;
    text-align: center;
}
#mode-selector{
    border: solid 1px black;
    border-radius: 1em;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    padding: 0.5em 1em;

}
header{
    display: grid;
    width: 50em;
    margin: 0 auto;
    grid-template-columns: 90% 10%;
}
#mode-selector:hover{
    background-color: #666666;
}

.container{
    padding: 0;
    width: 50em;
    height: 40em; 
    margin: 1em auto;
    background-color: #1F293A;
}
#selector-div{
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    grid-template-rows: 2.8em;
    margin: 1em 2em;
    padding-top: 1.5em;
    grid-gap: 1em;

}
#selected-color{
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
}

select{
    /* width: 30em; */
    padding: 0.25em 1em;
    background-color: inherit;
    color: inherit;
    font-family: 'Inter', sans-serif;
    border: 1px solid #D1D5DB;
}
select, select option {
    text-transform: capitalize;
}
button{
    font-weight: 500;
    background-color: #3D4B60;
    color: inherit;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
#result-div{
    display: grid;
    height: 85%;
    grid-template-rows: 90% 10%;
    grid-template-columns: repeat(5,1fr);
    margin-top: 2em;
}
.light{
    background-color: #D1D5DB;
    color: #2B283A;
}
.hidden{
    visibility: hidden;
}
.container-light{
    background-color: #FFFF;
}
.light-btn{
    background-color: #FFFF;
    border: 1px solid gray;
}
